body{
	background-image:  url("https://wallpapercave.com/wp/wp1930150.jpg");
	background-size: cover;
};

.footer{
	background-color: yellow;
	color: yellow;
}

#calculator{

	height: 500px;
	width: 500px;
	float: left;
	background-color: lightblue;
	text-align: center;
}
#info{
	height: 500px;
	float: none;
	padding-left: 40%;
	color: white;
}
h1{
	color: yellow;
	text-align: center;
	text-decoration: underline;
};
